<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>

  <% unless f.object.new_record? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :completed %> Completed
      </label>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>


<!-- <form class="new_task" id="new_task" action="/tasks" accept-charset="UTF-8" method="post">
  <label for="task_title">Title</label>
  <input type="text" name="task[title]" id="task_title">
  <label for="task_details">Details</label>
  <input type="text" name="task[details]" id="task_details">
  <label for="task_completed">Completed</label>
  <input type="boolean" name="task[completed]" id="task_completed">
  <input type="submit" name="commit" value="Create Task" data-disable-with="Create task">
</form>
 -->
